<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-info border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><span class="">MicroBlogging Platform</span></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto d-flex flex-row align-items-center justify-content-between ">
            
            <li class="nav-item  pe-1">
              <a href="/" class="text-light text-decoration-none" style="font-size: 0.9rem;">
                Dashboard
              </li>
              <li class="nav-item ps-1 pe-1"> 
                <a href="/posts/" class="text-light text-decoration-none" style="font-size: 0.9rem;">
                All Posts
              </a></li>
             <li class="nav-item ps-1 pe-1">
              <a href="/posts/add" class="text-light text-decoration-none" style="font-size: 0.9rem;">
                Add Post
              </a>
             </li>
              <li class="nav-item ps-1 ">
                <a href="/auth/logout" style="font-size: 0.9rem;"><button class="btn btn-danger rounded" style="font-size: 0.9rem;    padding: 3px;
    background-color: rgb(165, 0, 0);
    border-color: rgb(165, 0, 0);" type="submit">
                  <img
                    src="{{req.user.image}}"
                    srcset="{{profileImg}}"
                    class="pe-1 img-fluid rounded-circle"
                    style="width: 1.7rem"
                  />
  
                  Logout
                </button></a
              >
      </li>
        </div>
      </div>
</nav>
    