<div
  class="container min-vh-100 col-8 m-auto d-flex justify-content-center align-items-center"
>
  <div class="d-flex border flex-column p-4">
    <h1 class="text-center mb-4">Login</h1>
    <a href="/auth/google"><button class="btn btn-primary">Google Sign In</button></a>
  </div>
</div>