<div
  class="container min-vh-100 col-8 m-auto d-flex justify-content-center align-items-center"
>
  <div
    class="d-flex rounded border border-info bg-dark text-light flex-column p-4"
  >
    <h2 class="h2 text-center mb-4">MicroBlogging Platform</h2>
    <p class="text-center">Don't Judge A Book By It's Cover</p>
    <br />
    <a href="/auth/google" class="text-center"><button
        class="btn btn-primary"
      >Google Sign In</button></a>
  </div>
</div>