<div
  class="container col-8 m-auto d-flex justify-content-center align-items-center"
  style="min-height: 90vh;"
>
  <div
    class="d-flex rounded border border-info bg-dark text-light flex-column p-4"
  >
    <h2 class="h2 text-center text-light mb-4">MicroBlogging Platform</h2>
    <p class="text-center text-info mb-4">Don't Judge A Book By It's Cover</p>
    <a href="/auth/google" class="text-center"><button
        class="btn btn-primary"
      ><i class="fab fa-google me-1"></i> Sign In</button></a>
  </div>
</div>