.form-control:focus {
  box-shadow: none;
}

.custom-select {
  background: #212529
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/8px 10px !important;
}

.navbar-toggler {
  box-shadow: none;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}

.navbar-toggler {
  padding: 5px;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
